:root {
    font-family: 'Calibri';
}

/* @page {
    margin: 180px 20px 100px 20px;
} */

@font-face {
    font-family: 'Calibri';
    src: local('Calibri Regular'), local('Calibri-Regular'),
        url('Calibri.woff2') format('woff2'),
        url('Calibri.woff') format('woff'),
        url('Calibri.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: local('Calibri Bold'), local('Calibri-Bold'),
        url('Calibri-Bold.woff2') format('woff2'),
        url('Calibri-Bold.woff') format('woff'),
        url('Calibri-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: local('Calibri Bold Italic'), local('Calibri-Bold-Italic'),
        url('Calibri-BoldItalic.woff2') format('woff2'),
        url('Calibri-BoldItalic.woff') format('woff'),
        url('Calibri-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    src: local('Calibri Italic'), local('Calibri-Italic'),
        url('Calibri-Italic.woff2') format('woff2'),
        url('Calibri-Italic.woff') format('woff'),
        url('Calibri-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
.header {
    position: fixed;
    /* margin-top: 20px; */
    /* top: 20px; */
    left: 70px;
    /* right: -20px; */
    width: 20%;
    /* margin-:50px; */
    /* margin-right: 0; */
    /* margin-left: 0;
    margin-right: 100px;
    padding-right: 100px; */
    /* margin-top: 0;
    margin-bottom: 0; */

}

header {

    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    font-size: 12px;
}

main {
    margin: 0;
    /* padding-top: 100px; */
}

body {
    padding-top: 220px;
    padding-bottom: 20px;

}
.header-invoice {
    position: fixed;
    /* margin-top: 20px; */
    top: -40px;
    left: 40px;
    /* right: -20px; */
    width: 24%;


}
.header-online{
    position: fixed;
    /* float: right; */
    right: -20px;
    top: -1cm;
    /* left: -50px; */
    width: 27%;
    margin-bottom: 20px;
}
.report-container thead{
    color: white;
    background-color: #4caf50 ;
}
.ttd{
    width: 20%;
}

.judul {
    /* font-family: Calibri; */
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.judul-online {
    /* font-family: Calibri; */
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.sub-judul {
    /* font-family: Calibri; */
    /* font-weight: bold;
    text-transform: uppercase; */
    margin-top: 20px;
    font-size: 14px;
    /* tab-size: 4; */
    /* padding-bottom: 20px; */
}
.sub-judul-online {
    /* font-family: Calibri; */
    /* font-weight: bold;
    text-transform: uppercase; */
    margin-top: 20px;
    font-size: 12px;
    /* tab-size: 4; */
    /* padding-bottom: 20px; */
}
.left {

    /* font-family: Calibri; */
    /* font-weight: bold;
    text-transform: uppercase; */
    margin-left: 200px;
    margin-bottom: 20px;
    /* tab-size: 4; */
    /* padding-bottom: 20px; */
}
.td_top ol {
    padding-top: 0;
    margin-top: 0;


}

.left-si {

    font-family: Calibri;
    font-size: 12px;
    margin-top: 100px;
    padding: 2px;
    
}



.left-si tr td {
    padding: 0px;

}


.title1 {
    position: fixed;
    font-family: Calibri;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    color: #4D78C4;
    top: -10;
    left: 0;
    right: 0;
    align-items: center;
    text-align: center;

}
.header-si {
    position: fixed;
    top: -5;
    left: 50;
    width: 15%;
  
}
.header-shipping {
    align-items: center;
    text-align: center;
    position: fixed;
    top: 30;
    left: 180;
    width: 30%;
  
}
.title2 {
    /* font-family: Calibri; */
    font-weight: bold;
    font-style: normal;
    font-size: 14px;

}
.report-container{
    font-size: 12px;
    margin-top: 20px;
    border-collapse: collapse;

}
.tfoot tr {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #e6e6e6aa;
    text-align: right;
    border: 0;

}


table.table_si {
    /* margin-top: 100px; */
    font-size: 12px;
    text-align: left;
    border-collapse: collapse;
    display: table;
    table-layout: fixed;
    word-wrap: break-word;


}




.table_si thead tr:first-child {
    background-color: #F27825;
    color: #ffffff;


}

.table_si thead tr:nth-child(2) {
    background-color: #F27825;
    color: #ffffff;
    text-align: center;


}

.table_si tbody tr:nth-child(even) {
    background-color: #f2f2f2;


}

.table_si tbody tr td {
    padding: 0;
    color: #0c341d;

}

.table_si thead tr td {
    padding: 2px;

}